<!-- <a href="/hids/examine/detail" class="item">详情</a> -->
<!-- 主机体检 -->
{$layout}
{$template "/datepicker"}
{$var "header"}
<script src="/js/timeFactory.js"></script>
{$end}

<div class="card-div" style="margin-top: 20px;height: 90px;">
    <form class="ui form" autocomplete="off">
        <div style="display: flex;flex-direction: row;margin: 0px 15px 15px 15px;height: 40px;align-items: center;">
            <!-- <div style="display: inline-flex;width: 50%;">
                <div class="title-style">体检状态</div>
                <div :class="{'meun-select-color':state===0,'meun-define-color':state!=0}"
                     @click="onChangeCheckState(0)">全部
                </div>
                <div :class="{'meun-select-color':state===1,'meun-define-color':state!=1}"
                     @click="onChangeCheckState(1)">未检查
                </div>
                <div :class="{'meun-select-color':state===2,'meun-define-color':state!=2}"
                     @click="onChangeCheckState(2)">检查中
                </div>
                <div :class="{'meun-select-color':state===3,'meun-define-color':state!=3}"
                     @click="onChangeCheckState(3)">已完成
                </div>
            </div> -->
            <div class="ui fields inline" style="width: 50%;">
                <div class="title-style">完成时间</div>
                <div class="ui field">
                    <input type="datetime-local" step="01" style="height: 28px;font-size: 13px;" id="day-from-picker" @change="onTimeChange"/>
               </div>
               <div style="margin-right: 10px;"></div>
               <div class="ui field">
                    <input type="datetime-local" step="01" style="height: 28px;font-size: 13px;" id="day-to-picker" @change="onTimeChange"/>
               </div>
            </div>

            <div style="display: inline-flex;width: 50%;">
                <div class="title-style">体检分数</div>
                <div :class="{'meun-select-color':score===0,'meun-define-color':score!=0}"
                     @click="onChangeHealthNumState(0)">全部
                </div>
                <div :class="{'meun-select-color':score===1,'low-health-color':score!=1}"
                     @click="onChangeHealthNumState(1)">0-59（不健康）
                </div>
                <div :class="{'meun-select-color':score===2,'middle-health-color':score!=2}"
                     @click="onChangeHealthNumState(2)">60-89（亚健康）
                </div>
                <div :class="{'meun-select-color':score===3,'hight-health-color':score!=3}"
                     @click="onChangeHealthNumState(3)">90-100（健康）
                </div>
            </div>
        </div>
    </form>
</div>
<div style="width: 100%;height: 550px;overflow-x: auto; overflow-y: auto;">
    <table id="tab" height="40px" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
        <thead>
        <tr align="center">
            <th class='table-head-bg' style="width: 240px;">主机</th>
            <th class='table-head-bg' style="width: 260px;">体检进度</th>
            <th class='table-head-bg' style="width: 70px;">状态</th>
            <th class='table-head-bg' style="width: 90px;">体检分数</th>
            <th class='table-head-bg' style="width: 165px;">开始时间</th>
            <th class='table-head-bg' style="width: 165px;">完成时间</th>
            <th class='table-head-bg' style="width: 165px;">操作</th>
        </tr>
        </thead>
        <tbody id='tableBody'>
        <tr align="center" v-for="(item, index) in datas">
            <td style="position: relative;" @mouseenter="enters(index)" @mouseleave="leaver(index)">
                {{item.serverIp}}
                <div v-show="curIndex===index" class="table-item-style">
                    <div>外网IP：{{item.os.serverIp}}</div>
                    <div>内网IP：{{parseServerLocalIp(item.os.serverLocalIp)}}</div>
                    <div>主机名：{{item.os.hostName}}</div>
                    <div>操作系统：{{item.os.osType}}</div>
                    <div>系统内核：{{item.os.systemKernel}}</div>
                    <div>Mac地址：{{item.os.macCode}}</div>
                    <div>备注信息：{{item.os.remarks}}</div>
                </div>
            </td>
            <td>
                <div class="Bar">
                    <div :class="[checkShowColor(item.progress,100) ? 'progress-green-bg-style' : 'progress-blue-bg-style']"
                         :style="{width:getProgressPer(item.progress,100,item.serverIp,item.state)}">
                    </div>
                    <span>{{getProgressPerStr(item.progress,100,item.serverIp,item.state)}}</span>
                </div>
            </td>
            <td>{{getStatusName(item.state)}}</td>
            <td v-if="item.state == 0">-</td>
            <td v-else-if="item.state == 1 || item.state == 6">未得分</td>
            <td v-else>{{item.score}}分</td>
            <td v-if="item.state == 0">-</td>
            <td v-else>{{item.startTime}}</td>
            <td v-if="item.state == 2">{{item.lastUpdateTime}}</td>
            <td v-else>-</td>
            <td>
                <div style="display: flex;justify-content: space-around;">
                    <div v-show="item.state==0 || item.state==2" class="edit_btn" @click="onOpenCheck(item)">立即体检</div>
                    <div v-show="item.state==6" class="edit_btn" @click="onOpenCheck(item)">重新体检</div>
                    <div v-show="item.state==1" class="edit_btn" @click="onStopCheck(item)">取消体检</div>
                    <div v-show="item.state==2" class="edit_btn" @click="onOpenDetail(item)">详情</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div v-if="bShowCheckDetail" class="dialog-style" @click.stop>
    <div class="dialog-bg-style" style="display: flex;flex-direction: column;">
        <div style="flex: 7;">
            <div style="background: #0091cc;width: 100%;height: 25px;color: #fff;text-align: center;line-height: 25px;">
                立即体检
            </div>
            <div style="display: flex;flex-direction: column;">
                <div v-for="item in pCheckDetailData" style="display:inline-flex;padding: 15px 30px 8px 30px;">
                    <div style="width: 150px;min-width: 150px;">{{item.checkName}}</div>
                    <div style="display: flex;flex-wrap: wrap;">
                        <div v-for="checkItem in item.checkValue" class="more-select-check-content"
                             @click="onSelectCheckValue(checkItem.id)">
                            <img :src="getShowSelectValueImage(checkItem.id)" width="10px" height="10px">
                            <span style="margin-left: 10px;">{{checkItem.value}}</span>
                        </div>
                    </div>
                </div>

                <div style="display:inline-flex;padding: 15px 30px 8px 30px;">
                    <div style="width: 150px;min-width: 150px;"></div>
                    <div style="display: flex;width: 500px;">
                        <div style="display: flex;flex-direction: column;width: 50%;margin-right: 30px;">
                            <div class="more-select-check-content" @click="onSelectCheckValue(11)">
                                <img :src="getShowSelectValueImage(11)" width="10px" height="10px">
                                <span style="margin-left: 10px;">病毒木马</span>
                                <div v-show="onCheckSelectItem(11)" style="display: inline-flex;align-items: center;">
                                    <div style="width: 15px;height: 15px;border-radius: 50%;border: 1px red solid;text-align: center;line-height: 14px;color: red;font-size: 14px;margin: 0 10px;">
                                        !
                                    </div>
                                    <span style="color: red;">资源消耗高</span>
                                </div>
                            </div>
                            <div v-show="onCheckSelectItem(11)"
                                 style="border: 1px #d7d7d7 solid;height: 130px;width: 220px;display: flex;flex-direction: column;padding: 5px;"
                                 @click="onCheckSelectValue">
                                <label style="align-items: center;margin-bottom: 5px;">
                                    <input name="customScan" type="radio" value="1"
                                           style="margin-right: 5px;"/>快速扫描</label>
                                <label style="align-items: center;margin-bottom: 5px;">
                                    <input name="customScan" type="radio" value="2"
                                           style="margin-right: 5px;"/>全盘扫描<span v-show="bTimeOutTip"
                                                                                 style="color: red;">(预计扫描需2小时)</span></label>
                                <label style="align-items: center;margin-bottom: 5px;">
                                    <input name="customScan" type="radio" value="3"
                                           style="margin-right: 5px;"/>自定义扫描</label>
                                <div>
                                    <textarea v-show="bShowScanPath" name="searchPath" v-model="searchPath"
                                              style="resize: none;height: 45px;width: 210px;" placeholder="回车换行表示路径结束"
                                              value="%web%"></textarea>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;flex-direction: column;width: 50%;">
                            <div class="more-select-check-content" @click="onSelectCheckValue(12)">
                                <img :src="getShowSelectValueImage(12)" width="10px" height="10px">
                                <span style="margin-left: 10px;">网页后门</span>
                                <div v-show="onCheckSelectItem(12)" style="display: inline-flex;align-items: center;">
                                    <div style="width: 15px;height: 15px;border-radius: 50%;border: 1px red solid;text-align: center;line-height: 14px;color: red;font-size: 14px;margin: 0 10px;">
                                        !
                                    </div>
                                    <span style="color: red;">资源消耗高</span>
                                </div>
                            </div>
                            <div v-show="onCheckSelectItem(12)">
                                <textarea name="webSearchKey" v-model="webSearchKey"
                                          style="resize: none;height: 130px;width: 220px;border: 1px #d7d7d7 solid;">%web%</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div style="flex: 1;display: flex;justify-content: center;align-items: center;border-top: 1px #f0f0f0 solid;">
            <div class="sure-btn" @click="onStartCheck">确定</div>
            <div class="close-btn" @click="onCloseCheck">取消</div>
        </div>
    </div>
</div>