<!-- 扫描报告 -->
{$layout}
{$var "header"}
<script type="text/javascript" src="/js/guacamole-common-js/guacamole-common.min.js"></script>
{$end}
<div style="width: 100%;height: 650px;margin-top: 10px;overflow-x: auto; overflow-y: auto;">
    <table class="ui table selectable celled" border="1" style="border-collapse: collapse;">
        <thead>
        <tr align="center">
            <!-- <th class='table-head-bg' style="width: 50px;">ID</th> -->
            <th class='table-head-bg' style="width: 120px;">用户</th>
            <th class='table-head-bg' style="width: 155px;">资产名称</th>
            <th class='table-head-bg' style="width: 145px;">来源IP</th>
            <th class='table-head-bg' style="width: 90px;">协议</th>
            <!-- <th class='table-head-bg' style="width: 150px;">登录来源</th> -->
            <!-- <th class='table-head-bg' style="width: 70px;">命令</th> -->
            <th class='table-head-bg' style="width: 175px;">接入时间</th>
            <th class='table-head-bg' style="width: 105px;">时长</th>
            <th class='table-head-bg' style="width: 120px;">操作</th>
        </tr>
        </thead>
        <tbody id='tableBody'>
        <tr align="center" style="height: 40px;" v-for="(item,index) in offline">
            <!-- <td>{{index+1}}</td> -->
            <td>{{item.username}}</td>
            <td>{{item.assetName}}</td>
            <td>{{item.clientIp}}</td>
            <td>{{item.protocol}}</td>
            <td>{{item.connectedTime}}</td>
            <td>{{getTimeLong(item.connectedTime,item.disconnectedTime)}}</td>
            <td>
                <div style="display: flex;justify-content: space-around;">
                    <div class="edit_btn" @click="onReplay(item)" >回放</div>
                    <div class="edit_btn" @click="onDelete(item.id)" >删除</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div v-if="bShowAudioPlayBox" class="dialog-style" id="playAudio-dialog">
    <div class="dialog-bg-style">
        <div style="width: 100%;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
            <div style="font-size: 16px;padding: 10px;">
                <span>会话回放 来源IP:</span>
                <span>{{selectReplayItemData.clientIp}}</span>
                <span> 用户昵称：</span>
                <span>{{selectReplayItemData.creatorName}}</span>
                <span> 资产名称：</span>
                <span>{{selectReplayItemData.assetName}}</span>
                <span> 网络：</span>
                <span>{{`${selectReplayItemData.username}@${selectReplayItemData.clientIp}:${selectReplayItemData.port}`}}</span>
            </div>
            <div style="font-size: 16px;width: 30px;height: 30px;line-height: 30px;text-align: center;cursor: pointer;"@click="onCloseReplay">X</div>
        </div>
        <div id="audio-display-box" style="width: 100%;">
        </div>
        <div style="display: flex;flex-direction: row;margin-top: 5px;align-items: center;padding-left: 10px;margin-bottom: 10px;">
            <img v-show="!isPlaying" src="/images/replay_play.png" width="25px" height="25px" style="cursor: pointer;" @click="onPlayReplay">
            <img v-show="isPlaying" src="/images/replay_pause.png" width="25px" height="25px" style="cursor: pointer;" @click="onPauseReplay">
            <input type="range" :disabled="bAudioDisabled" min="0" :max="maxDuration" v-model="percentDuration" @change="handleSliderChange" style="width: 1150px;margin: 0 10px;">
            <span>
                {{`${playPosition}/${playDuration}`}}
            </span>
        </div>
        
    </div>
</div>