<!-- 添加目标 -->
{$layout}
{$template "/datepicker"}
{$var "header"}
{$end}

<first-menu>
    <menu-item @click.prevent="hanleOpen" style="font-size: 14px;color: rgb(0,0,.87)">[获取资产纳管命令]</menu-item>
</first-menu>
<p class="comment" v-if="agents.length == 0">暂时还没有主机。</p>
<div style="width: 100%;height: 600px;overflow-x: auto; overflow-y: auto;margin-top: 10px" v-else>
    <table class="ui table selectable celled multi-table" border="1" style="border-collapse: collapse;">
        <thead>
        <tr align="center">
            <th class='table-head-bg' style="width: 185px;">主机IP</th>
            <th class='table-head-bg' style="width: 200px;">主机名称</th>
            <th class='table-head-bg' style="width: 282px;">操作系统</th>
            <th class='table-head-bg' style="width: 129px;">创建时间</th>
            <th class='table-head-bg' style="width: 129px;">最后在线时间</th>
            <th class='table-head-bg' style="width: 134px;">状态</th>
            <th class='table-head-bg' style="width: 200px;">备注</th>
            <th class='table-head-bg' style="width: 200px;">操作</th>
        </tr>
        </thead>
        <tbody id='tableBody'>
        <tr align="center" style="height: 50px;" v-for="item in agents">
            <td>{{item.ip}}</td>
            <td>{{item.name}}</td>
            <td>{{item.os.name + " " + item.os.version}}</td>
            <td>{{onChangeTimeFormat(item.dateAdd)}}</td>
            <td>{{onChangeTimeFormat(item.lastKeepAlive)}}</td>
            <td>
                <label-on-active :v-is-active="item.status==='active'"></label-on-active>
            </td>
            <td @dblclick="onDoubleClick(item)">
                <div v-if="dbClickId!=item.id" >
                    {{item.remake}}
                </div>
                <div v-else>
                    <input  type="text" v-model="newremake"
                            style="width:230px;height: 32px;font-size: 13px;border: 1px solid #d7d7d7;border-radius: 5px;"
                            @keydown="onCheckKeyDown"/>
                </div>

            </td>
            <td>
                <div style="display: inline-flex;justify-content: center;">
                    <div class="edit_btn_blue" style="color: #2185d0" @click="onCheck(item.id)"
                         v-if="item.status==='active'">立即扫描
                    </div>
                    <div class="edit_btn_blue" style="color: #bebebe" v-else>立即扫描</div>
                    <div class="edit_btn_blue" style="color: #db2828" @click="onDelete(item.id)">删除</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

