{$layout}

{$var "header"}
<!-- datepicker -->
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/pikaday.js"></script>
<link rel="stylesheet" href="/js/pikaday.css"/>
<link rel="stylesheet" href="/js/pikaday.theme.css"/>
<link rel="stylesheet" href="/js/pikaday.triangle.css"/>
<script type="text/javascript" src="/js/echarts/echarts.min.js"></script>
{$end}

<div class="margin"></div>
<div  style="border-bottom: 1px solid #d7d7d7;padding-bottom: 10px;">
    <form method="get" class="ui form" :action="path" autocomplete="off">
        <div class="ui fields inline" style="justify-content: space-between;">
            <div v-if="servers.length > 0" class="ui field">
                <select class="ui dropdown" name="serverId" v-model="serverId">
                    <option value="0">[选择域名]</option>
                    <option v-for="server in servers" :value="server.id">{{server.serverName}}</option>
                </select>
            </div>
            <div v-if="servers.length == 0"></div>
            <div style="display: flex;flex-direction: row;">
                <div class="ui field">
                    <button class="ui button" @click="report(0)"  type="button">日报</button>
                </div>
                <div class="ui field">
                    <button class="ui button"  @click="report(1)"  type="button">周报</button>
                </div>
                <div class="ui field">
                    <input type="text" name="day" maxlength="10" placeholder="选择日期" style="width:7.8em" id="day-input" v-model="day"/>
                </div>
                <div class="ui field">
                    <button class="ui button" type="submit">查找</button>
                </div>
            </div>
        </div>
        <div style="width: 100%;height: 40px;display: flex;/* justify-content: flex-end; *//* border-bottom: 1px solid rgb(240, 240, 240); */padding-bottom: 10px;margin-top: -37px;">
            <div style="display: inline-flex; align-items: center;">
                <div style="line-height: 40px; text-align: center;">WAF日志</div>
            </div>
        </div>
    </form>
</div>


<p class="comment" v-if="accessLogs.length == 0" style="margin-top:10px;">暂时还没有日志。</p>
<div style="height:10em;width: 100%;" v-show="showReport" id="detail-chart-box"></div>
<table class="ui table selectable" v-if="accessLogs.length > 0">
    <!-- 这里之所以需要添加 :key，是因为要不然不会刷新显示 -->
    <tr v-for="accessLog in accessLogs" :key="accessLog.requestId">
        <td><http-access-log-box :v-access-log="accessLog"></http-access-log-box></td>
    </tr>
</table>

<div v-if="accessLogs.length > 0">
    <a :href="path + '?requestId=' + lastRequestId + '&day=' + day + '&groupId=' + groupId + '&serverId=' + serverId" v-if="hasPrev">上一页</a>
    <span v-else class="disabled">上一页</span>
    <span class="disabled">&nbsp; | &nbsp;</span>
    <a :href="path + '?requestId=' + nextRequestId + '&day=' + day + '&groupId=' + groupId + '&serverId=' + serverId" v-if="hasMore">下一页</a>
    <span v-else class="disabled">下一页</span>
</div>

