<!-- 扫描报告 -->
{$layout}
{$template "/datepicker"}
{$var "header"}
{$end}

<div style="width: 100%;display: flex;flex-direction: column;">
    <div style="display: inline-flex;margin-top: 15px;">
        <div style="width: 100px;margin-right: 10px;text-align: right;">时间范围：</div>
        <div :class="{'meun-select-style':timeSelectIndex===0,'meun-define-style':timeSelectIndex!=0}" @click="onChangeCheckTime(0)">最近一天</div>
        <div :class="{'meun-select-style':timeSelectIndex===1,'meun-define-style':timeSelectIndex!=1}" @click="onChangeCheckTime(1)">最近一周</div>
        <div :class="{'meun-select-style':timeSelectIndex===2,'meun-define-style':timeSelectIndex!=2}" @click="onChangeCheckTime(2)">最近一月</div>
        <div :class="{'meun-select-style':timeSelectIndex===3,'meun-define-style':timeSelectIndex!=3}" @click="onChangeCheckTime(3)">最近三月</div>
        <div class="ui field" style="margin-right: 10px">
            <input type="text" name="dayFrom" placeholder="开始日期" v-model="dayFrom" value="" style="width:140px;height: 24px;font-size: 13px;border: 1px solid #d7d7d7;" id="day-from-picker" @change="onTimeChange"/>
        </div>
        <div class="ui field" style="margin-right: 10px">
            <input type="text" name="dayTo" placeholder="结束日期" v-model="dayTo" value="" style="width:140px;height: 24px;font-size: 13px;border: 1px solid #d7d7d7;" id="day-to-picker" @change="onTimeChange"/>
        </div>
    </div>
    <div style="width: 100%;display: inline-flex;margin-top: 15px;align-items: center;">
        <div style="display: inline-flex;">
            <div style="width: 100px;margin-right: 10px;text-align: right;height: 26px;line-height: 26px;">时间范围：</div>
            <command-res-selector :v-assembly-id="userRes"></command-res-selector>
        </div>

        <div style="display: inline-flex;margin-left: 30px;">
            <div style="width: 100px;margin-right: 10px;text-align: right;height: 26px;line-height: 26px;">用户：</div>
            <input type="text" v-model="userName" style="height: 26px;width: 220px;line-height: 26px;border: 1px solid #d7d7d7;"></input>
        </div>

        <div style="display: inline-flex;margin-left: 30px;">
            <div style="width: 100px;margin-right: 10px;text-align: right;height: 26px;line-height: 26px;">风险等级：</div>
            <command-level-selector :v-assembly-id="dangerLevel"></command-level-selector>
        </div>
    </div>

    <div style="display: inline-flex;margin-top: 15px;">
        <div style="width: 100px;margin-right: 10px;text-align: right;">命令：</div>
        <input type="text" v-model="inputCommand" style="height: 26px;width: 940px;line-height: 26px;border: 1px solid #d7d7d7;"></input>
    </div>

    <div style="display: inline-flex;margin-left: 110px;margin-top: 15px;">
        <div class="sure-btn">查询</div>
        <div class="grey-btn" style="margin-left: 30px;">重置</div>
    </div>
    
    <div style="margin-top: 15px;width: 100%;height: 650px;overflow-x: auto; overflow-y: auto;">
        <table id = "tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
                <tr align="center">
                    <th class='table-head-bg' style="width: 560px;" >命令</th>
                    <th class='table-head-bg' style="width: 110px;" >风险等级</th>
                    <th class='table-head-bg' style="width: 130px;" >用户</th>
                    <th class='table-head-bg' style="width: 180px;" >资产</th>
                    <th class='table-head-bg' style="width: 170px;" >日期</th>
                </tr>
            </thead>
            <tbody id='tableBody'>
                <tr align="center" style="height: 40px;" v-for="item in tableData" >
                    <td>{{item.value1}}</td>
                    <td>{{getDangerLevel(item.value2)}}</td>
                    <td>{{item.value3}}</td>
                    <td>{{item.value4}}</td>
                    <td>{{onChangeTimeFormat(item.value5)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
