<!-- 扫描报告 -->
{$layout}
{$template "/datepicker"}
{$var "header"}
{$end}

<div style="width: 100%;display: flex;flex-direction: column;">
    <div style="display: inline-flex;margin-top: 15px;">
        <div style="width: 100px;margin-right: 10px;text-align: right;">时间范围：</div>
        <div :class="{'meun-select-style':index===0,'meun-define-style':index!=0}" @click="onChangeCheckTime(0)">最近一天</div>
        <div :class="{'meun-select-style':index===1,'meun-define-style':index!=1}" @click="onChangeCheckTime(1)">最近一周</div>
        <div :class="{'meun-select-style':index===2,'meun-define-style':index!=2}" @click="onChangeCheckTime(2)">最近一月</div>
        <div :class="{'meun-select-style':index===3,'meun-define-style':index!=3}" @click="onChangeCheckTime(3)">最近三月</div>
        <div class="ui field" style="margin-right: 10px">
            <input type="text" name="dayFrom" placeholder="开始日期" v-model="dayFrom" value="" style="width:140px;height: 24px;font-size: 13px;border: 1px solid #d7d7d7;" id="day-from-picker" @change="onTimeChange"/>
        </div>
        <div class="ui field" style="margin-right: 10px">
            <input type="text" name="dayTo" placeholder="结束日期" v-model="dayTo" value="" style="width:140px;height: 24px;font-size: 13px;border: 1px solid #d7d7d7;" id="day-to-picker" @change="onTimeChange"/>
        </div>
    </div>
    <div style="width: 100%;display: inline-flex;margin-top: 15px;align-items: center;">
        <div style="display: inline-flex;">
            <div style="width: 100px;margin-right: 10px;text-align: right;height: 26px;line-height: 26px;">资产：</div>
            <div>
                <select name="asset" v-model="asset" style="width: 220px;height: 26px;border: 1px solid #d7d7d7;">
                    <option v-for="assembly in assets" :value="assembly.name">{{assembly.name}}</option>
                </select>
            </div>
        </div>

        <div style="display: inline-flex;margin-left: 30px;">
            <div style="width: 100px;margin-right: 10px;text-align: right;height: 26px;line-height: 26px;">用户：</div>
            <input type="text" v-model="username" style="height: 26px;width: 220px;line-height: 26px;border: 1px solid #d7d7d7;"></input>
        </div>

        <div style="display: inline-flex;margin-left: 30px;">
            <div style="width: 100px;margin-right: 10px;text-align: right;height: 26px;line-height: 26px;">风险等级：</div>
            <div>
                <select name="riskLevel" v-model="riskLevel" style="width: 220px;height: 26px;border: 1px solid #d7d7d7;">
                    <option value="0">普通</option>
                    <option value="5">危险</option>
                </select>
            </div>
        </div>
    </div>

    <div style="display: inline-flex;margin-top: 15px;">
        <div style="width: 100px;margin-right: 10px;text-align: right;">命令：</div>
        <input type="text" v-model="input" style="height: 26px;width: 940px;line-height: 26px;border: 1px solid #d7d7d7;"></input>
    </div>

    <div style="display: inline-flex;margin-left: 110px;margin-top: 15px;">
        <div class="sure-btn" @click="onSearch">查询</div>
        <div class="grey-btn" style="margin-left: 30px;" @click="onRefresh">重置</div>
    </div>
    
    <div style="margin-top: 15px;width: 100%;height: 650px;overflow-x: auto; overflow-y: auto;">
        <table id = "tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
                <tr align="center">
                    <th class='table-head-bg' style="min-width: 560px;max-width: 560px;">命令</th>
                    <th class='table-head-bg' style="min-width: 110px;max-width: 110px;">风险等级</th>
                    <th class='table-head-bg' style="min-width: 130px;max-width: 130px;">用户</th>
                    <th class='table-head-bg' style="min-width: 180px;max-width: 180px;">资产</th>
                    <th class='table-head-bg' style="min-width: 170px;max-width: 170px;">日期</th>
                </tr>
            </thead>
            <tbody id='tableBody' v-for="item in commands" >
                <tr align="center" style="height: 40px;" @click="onOpenItemDetail(item._id,commands)">
                    <td>
                        <div style="display: inline-flex;">
                            <span v-show="!item.bOpen">&#9658;</span>
                            <span v-show="item.bOpen">&#9660;</span>
                            <span class="txt-overflow" style="margin-left: 5px;min-width: 520px;max-width: 520px;">{{item.input}}</span>
                        </div>
                    </td>
                    <td>{{item.risk_level_display}}</td>
                    <td>{{item.user}}</td>
                    <td>{{item.asset}}</td>
                    <td>{{onChangeTimeFormat(item.timestamp)}}</td>
                </tr>
                <tr v-show="item.bOpen" style="height: 40px;">
                    <td colspan="9">{{item.input}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="page" v-html="page"></div>
</div>
