<!-- 病毒木马 详情
弹窗页面 -->
<!-- <a href="/hids/invade/virusDetail" class="item">弹窗页面</a> -->
{$layout}
<div class="card-div" style="margin-top: 20px;">
    <div style="height: 50%;;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div style="font-size: 16px;">主机信息</div>
        <div class="edit_btn" @click="onGoBack">返回</div>
    </div>
    <div style="border-bottom:1px solid #f0f0f0;"></div>
    <div style="height: 50%;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div style="width: 30%;margin-right: 5%;">
            <span style="font-weight: bold;">操作系统：</span>
            <span>{{os}}</span>
        </div>
        <div style="width: 30%;margin-right: 5%;">
            <span style="font-weight: bold;">上次扫描时间：</span>
            <span>{{lastUpdateTime}}</span>
        </div>
        <div style="width: 30%;">
            <span style="font-weight: bold;">异常进程数：</span>
            <span>{{total1}}</span>
        </div>
    </div>
</div>

<div class="card-div" style="margin-top: 20px;height: 40px;">
    <div style="height: 100%;display: flex;flex-direction: row;align-items: center;">
        <div :class="{'menu-select-color':nTableState===1,'menu-define-color':nTableState!=1}"
             @click="onChangeTableState(1)">待处理({{total1}})
        </div>
        <div :class="{'menu-select-color':nTableState===2,'menu-define-color':nTableState!=2}"
             @click="onChangeTableState(2)">已处理({{total2}})
        </div>
    </div>
</div>
<div style="width: 100%;height: 600px;overflow-x: auto; overflow-y: auto;margin-top: 20px;">
    <div v-if="nTableState===1">
        <table class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
            <tr align="center">
                <th class='table-head-bg' style="width: 102px;">类型</th>
                <th class='table-head-bg' style="width: 442px;">进程路径</th>
                <th class='table-head-bg' style="width: 176px;">父进程路径</th>
                <th class='table-head-bg' style="width: 90px;">发现时间</th>
                <th class='table-head-bg' style="width: 112px;">来源</th>
                <th class='table-head-bg' style="width: 140px;">状态</th>
                <th class='table-head-bg' style="width: 113px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center" style="height: 40px;" v-for="item in datas1">
                <td>{{item.invadeType}}</td>
                <td>{{item.path}}</td>
                <td>{{item.pproc_path}}</td>
                <td>{{item.discoveryTime}}</td>
                <td>{{item.src}}</td>
                <td>{{getStateName(item.state)}}</td>
                <td>
                    <div style="display: flex;justify-content: space-around;">
                        <div class="edit_btn" @click="onDetail(item)">详情</div>
                        <div class="edit_btn" @click="onClose(item)">关闭事件</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div v-else>
        <table id="tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
            <tr align="center">
                <th class='table-head-bg' style="width: 102px;">类型</th>
                <th class='table-head-bg' style="width: 442px;">进程路径</th>
                <th class='table-head-bg' style="width: 176px;">父进程路径</th>
                <th class='table-head-bg' style="width: 90px;">发现时间</th>
                <th class='table-head-bg' style="width: 112px;">来源</th>
                <th class='table-head-bg' style="width: 140px;">状态</th>
                <th class='table-head-bg' style="width: 113px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center" style="height: 40px;" v-for="item in datas1">
                <td>{{item.invadeType}}</td>
                <td>{{item.path}}</td>
                <td>{{item.pproc_path}}</td>
                <td>{{item.discoveryTime}}</td>
                <td>{{item.src}}</td>
                <td>{{getStateName(item.state)}}</td>
                <td>
                    <div style="display: flex;justify-content: space-around;">
                        <div class="edit_btn" @click="onDetail(item)">详情</div>
                        <div class="edit_btn" @click="onCancelClose(item)">取消关闭</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>