.table-head-bg{
    height: 32px;
    background: #f0f0f0;
}

.field > input{
    height: 32px;
}
.field > button {
    height: 32px;
    background: #276ac6 !important;
    color: #fff !important;
    font-size: 14px;
    font-weight: normal !important;
    padding: 4px 20px !important;
}
.field > select {
    padding: 4px !important;
}