{$layout}
<!-- <a href="/hids/invade/virusDetailList" class="item">查看</a> -->
<div>
    <div class="card-div" style="display: flex;flex-direction: row;justify-content: space-between;padding: 15px 10px;margin-top: 20px;">
        <div>反弹shell</div>
        <div class="edit_btn" @click="onGoBack">返回</div>
    </div>

<!--    <div class="card-div" style="display: flex;flex-direction: row;margin-top: 15px;">-->
<!--        <form method="get" action="/hids/invade/reboundShell" class="ui form" autocomplete="off" style="padding-top: 5px;">-->
<!--            <div class="ui fields inline">-->
<!--                <div class="ui field">主机IP：</div>-->
<!--                <div class="ui field">-->
<!--                    <input type="text" name="serverIp" style="width:10em" v-model="serverIp"/>-->
<!--                </div>-->
<!--                <div class="ui field">-->
<!--                    <button type="submit" class="ui button" @click="">查询</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

    <!-- <p class="comment" v-if="!datas || datas.length == 0">暂时还没有反弹shell入侵威胁信息。</p> -->
    <div style="width: 100%;height: 600px;overflow-x: auto; overflow-y: auto;margin-top: 20px;">
        <table id = "tab" height="40px" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
                <tr align="center">
                    <th v-for="item in tableTitle" class='table-head-bg' :style="{width: item.width}" >{{item.name}}</th>
                </tr>
            </thead>
            <tbody id='tableBody'>
                <tr align="center" v-for="(item, index) in datas" >
                    <td style="position: relative;" @mouseenter="enters(index)" @mouseleave="leaver()">{{item.serverIp}}
                        <div v-show="curIndex===index" class="table-item-style">
                            <div>外网IP：{{item.os.serverIp}}</div>
                            <div>内网IP：{{parseServerLocalIp(item.os.serverLocalIp)}}</div>
                            <div>主机名：{{item.os.hostName}}</div>
                            <div>操作系统：{{item.os.osType}}</div>
                            <div>系统内核：{{item.os.systemKernel}}</div>
                            <div>Mac地址：{{item.os.macCode}}</div>
                            <div>备注信息：{{item.os.remarks}}</div>
                        </div>
                    </td>
                    <td>{{item.count}}</td>
                    <td>
                        <div class="edit_btn" @click="onOpenDetail(item)">查看</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>