{$layout "layout_popup"}

<div style="margin-top: 15px;">
    <span style="font-size: 14px;color:#333;padding: 0 20px;">请输入被授权账号邮箱，多个请以换行符相隔 (不可重复)：</span>
    <textarea style="margin: 5px 20px;width: 400px;height: 170px;border: 1px solid #d7d7d7;resize: none;" v-model="authValue" >{{authValue}}</textarea>
    <div style="width: 100%;display: flex;justify-content: center;margin-top: 10px;">
        <div class="sure-btn" @click="onSaveAuth">确认</div>
        <input type="hidden" name="id" v-model="id">
    </div>
</div>