<!-- 审计-数据库 -->
{$layout}
{$var "header"}
{$end}

<div>
    <div style="display: flex;height: 40px;border-bottom: 1px #f0f0f0 solid;width: 100%;padding-bottom: 10px;">
        <div style="cursor: pointer;margin-top: 10px;" @click="onAddHost">[添加数据库]</div>
    </div>

    <div style="display: inline-flex;margin-top: 10px;">
        <span style="font-size: 14px;margin-right: 5px;height: 26px;line-height: 26px;">数据库名称：</span>
        <input type="text" v-model="searchSQLName" style="height: 26px;width: 170px;line-height: 26px;border: 1px solid #d7d7d7;" placeholder="请输入数据库名称"></input>
        <span style="font-size: 14px;margin-right: 5px;margin-left: 30px;height: 26px;line-height: 26px;">数据库IP：</span>
        <input type="text" v-model="searchSQLIp" style="height: 26px;width: 170px;line-height: 26px;border: 1px solid #d7d7d7;" placeholder="请输入数据库IP"></input>
        <div class="sure-btn" style="margin-left: 30px;" @click="onSearch">查询</div>
    </div>

    <div style="width: 100%;height: 600px;margin-top: 10px;overflow-x: auto; overflow-y: auto;">
        <table id = "tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
                <tr align="center">
                    <th class='table-head-bg' style="width: 150px;" >数据库名称</th>
                    <th class='table-head-bg' style="width: 150px;" >IP</th>
                    <th class='table-head-bg' style="width: 150px;" >端口</th>
                    <th class='table-head-bg' style="width: 150px;" >类型</th>
                    <th class='table-head-bg' style="width: 150px;" >版本</th>
                    <th class='table-head-bg' style="width: 150px;" >操作系统</th>
                    <th class='table-head-bg' style="width: 150px;" >状态</th>
                    <th class='table-head-bg' style="width: 130px;" >操作</th>
                </tr>
            </thead>
            <tbody id='tableBody'>
                <tr align="center" style="height: 40px;" v-for="item in dbList" >
                    <td>
                        <div style="padding: 4px 0;">
                            {{item.name}}
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px 0;">
                            {{item.ip}}
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px 0;">
                            {{item.port}}
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px 0;">
                            {{getTypeName(item.type)}}
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px 0;">
                            {{item.version}}
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px 0;">
                            {{getSystemName(item.system)}}
                        </div>
                    </td>
                    <td>
                        <div :class="{'status-open':item.status=='1','status-close':item.status=='0'}">
                            {{getStatus(item.status)}}
                        </div>
                    </td>
                    <td>
                        <div style="display: flex;justify-content: space-around;padding: 4px 0;">
                            <div class="edit_btn" @click="onOpenAuth(item.id)">授权</div>
                            <div class="edit_btn" @click="onEdit(item)">修改</div>
                            <div class="del-btn" @click="onDelete(item.id)">删除</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>