{$layout}
{$template "menu"}

<form class="ui form" method="post" data-tea-action="$" data-tea-success="success" data-tea-done="done" data-tea-timeout="600" data-tea-before="before">
    <csrf-token></csrf-token>
    <table class="ui table selectable definition">
        <tr>
            <td class="title">
                URL列表 *
            </td>
            <td>
                <textarea rows="10" name="urlList"></textarea>
                <p class="comment">每行一条。</p>
            </td>
        </tr>
    </table>
    <submit-btn v-if="!isRequesting">预热缓存</submit-btn>
    <button style="background-color: #1b6aff;" class="ui button disabled" type="button" v-if="isRequesting">处理中...</button>
</form>