.save-btn{
     width: 80px;
     height: 35px;
     background-color: #0090cb;
     color: #fff;
     font-size: 16px;
     font-weight: bold;
     border-radius: 5px;
     text-align: center;
     line-height: 35px;
     cursor: pointer;
 }