.menu-define-color{
    color: #000;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 10px;
}
.menu-select-color{
    color: #1b6aff;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 10px;
}

.table-head-bg{
    height: 32px;
    background: #f0f0f0;
}

.edit_btn{
    color: #1b6aff;
    cursor: pointer;
}

.del-btn{
    color: #D51F16;
    cursor: pointer;
}

.upload-btn{
    width: 60px;
    height: 30px;
    background-color: #ececec;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.save-btn{
    width: 80px;
    height: 35px;
    background-color: #1b6aff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.dialog-style{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-bg-style{
    width: 400px;
    height: 400px;
}
