{$layout}
<div style="display: flex;height: 40px;border-bottom: 1px #d7d7d7 solid;width: 100%;padding-bottom: 10px;margin-bottom: 15px;">
  <div v-show="pageState==1 && createIsOn">
    <div style="cursor: pointer;margin-top: 10px;" @click="createUser">创建</div>
  </div>
  <div v-show="pageState!=1" style="display: inline-flex;justify-content: end;margin-top: 10px;">
    <div style="cursor: pointer;padding-right: 10px;border-right: 1px #333 solid;margin-right: 10px;" @click="onChangeShowState(1)">用户列表</div>
    <div :class="{'menu-select-color':pageState===2,'menu-define-color':pageState!=2}" style="cursor: pointer;" @click="onChangeShowState(2)">修改</div>
    <div :class="{'menu-select-color':pageState===3,'menu-define-color':pageState!=3}" style="cursor: pointer;" @click="onChangeShowState(3)">权限</div>
  </div>
</div>
<div v-if="pageState==1">
  <p class="comment" v-if="users.length == 0">暂时还没有用户。</p>
  <table id = "tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
    <thead>
    <tr align="center">
      <th class='table-head-bg' style="width: 200px;" >用户名</th>
      <th class='table-head-bg' style="width: 200px;" >全名</th>
      <th class='table-head-bg' style="width: 200px;" >手机号</th>
      <th class='table-head-bg' style="width: 400px;" >注册时间</th>
      <th class='table-head-bg' style="width: 200px;" >OTP认证</th>
      <th class='table-head-bg' style="width: 200px;" >状态</th>
      <th class='table-head-bg' style="width: 200px;" >操作</th>
    </tr>
    </thead>
    <tbody id='tableBody'>
    <tr align="center" style="height: 40px;" v-for="item in users" >
      <td>
        <div style="padding: 4px 0;">
          {{item.username}}
        </div>
      </td>
      <td>
        <div style="padding: 4px 0;">
          {{item.fullname}}
        </div>
      </td>
      <td>
        <div style="padding: 4px 0;">
          {{item.mobile}}
        </div>
      </td>
      <td>
        <div style="padding: 4px 0;">
          {{item.createdTime}}
        </div>
      </td>
      <td class="">
        <span v-if="item.otpIsOn" class="green">Y</span>
        <span v-else class="disabled">N</span>
      </td>
      <td>
        <div :class="{'status-open':item.isOn=='1','status-close':item.isOn=='0'}">
          {{getStatus(item.isOn)}}
        </div>
      </td>
      <td>
        <div style="display: flex;justify-content: space-around;padding: 4px 0;">
          <div class="edit_btn" @click="onOpenDetail(item)">详情</div>
          <div class="del-btn" @click="onDelete(item.id)">删除</div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="page" v-html="page"></div>
</div>

<div v-if="pageState==2">
  <form class="ui form">
    <table class="ui table definition selectable">
      <tr>
        <td class="title">用户名 *</td>
        <td>
          <input disabled type="text" v-model="editUserName" style="background-color: #dfdfdf;color: #333;"/>
        </td>
      </tr>
      <tr>
        <td>密码</td>
        <td>
          <input type="password" v-model="editPassword" maxlength="100"/>
          <p class="comment">留空表示不修改。密码规则：8-30个字符,必须包含大小写字母、数字、特殊字符</p>
        </td>
      </tr>
      <tr>
        <td>确认密码</td>
        <td>
          <input type="password" v-model="editPasswordConfirm" maxlength="100"/>
        </td>
      </tr>
      <tr>
        <td>全名</td>
        <td>
          <input type="text" v-model="editFullName" maxlength="100"/>
          <p class="comment">用户姓名或者昵称等等。</p>
        </td>
      </tr>
      <tr>
        <td>手机号</td>
        <td>
          <input type="text" v-model="editPhone" maxlength="11"/>
        </td>
      </tr>
      <tr>
        <td>电子邮箱</td>
        <td>
          <input type="text" v-model="editEmail" maxlength="100"/>
        </td>
      </tr>
      <tr>
        <td>备注</td>
        <td>
          <textarea rows="3" v-model="editRemark" style="resize: none;"></textarea>
        </td>
      </tr>

      <tr>
        <td>是否启用</td>
        <td>
          <input id="editCheckBox" type="checkbox" value="" :checked="editEnabled==1" @change="onListenEditCheckBox"/>
        </td>
      </tr>
      <tr>
        <td>OTP认证</td>
        <td>
          <input id="otpIsOn" type="checkbox" value="" :checked="otpIsOn" @change="onListenEditCheckBoxOTP"/>
          <p class="comment">启用OTP认证后，在用户登录的时候需要同时填写OTP动态密码。</p>
        </td>
      </tr>
<!--      <tr v-if="otpIsOn">-->
<!--        <td colspan="2"><more-options-indicator>更多信息</more-options-indicator></td>-->
<!--      </tr>-->
      <tr v-if="otpIsOn && otpIsOn1">
        <td>认证二维码</td>
        <td>
          <img :src="'/platform/user/otpQrcode?userId=' + userid"/>
          <p class="comment">可以通过二维码快速添加OTP认证信息到App中。</p>
        </td>
      </tr>
      <tr v-if="otpIsOn && otpIsOn1">
        <td>密钥</td>
        <td>{{otpParams}}</td>
      </tr>
    </table>
    <div style="width: 100%;display: flex;align-items: center;">
      <div class="save-btn" @click="onSaveEdit">保存</div>
    </div>
  </form>
</div>

<div v-if="pageState==3">
  <form class="ui form">
    <table class="ui table definition selectable">
      <tr>
        <td class="title">权限列表</td>
        <td>
          <div style="display: flex;flex-direction: column;margin-bottom: 5px;cursor: pointer;" v-for="item in features" >
            <div style="display: flex;flex-direction: row;align-items: center;" :style="{'background':item.code==moveIndex? '#f0f0f0':'none'}"
                 @mouseenter="onMouseEnter(item.code)" @mouseleave="onMouseLeave(item.code)" @click="onShowChildItem(item.code)">
              <span v-show="item.children && item.children.length>0 && !item.bShowChild">&#9658;</span>
              <span v-show="item.children && item.children.length>0 && item.bShowChild">&#9660;</span>
              <img :src="getShowImageName(item.code)" width="14px" height="14px" style="margin: 0 5px;" @click.stop="onSelectValue(item.code)">
              <div style="width: 100%;font-size: 14px;" >{{item.name}}</div>
            </div>
            <div style="margin-left: 36px;cursor: default;"><span style="font-size: 14px;color: rgba(0, 0, 0, 0.5);padding-top: 5px;">{{item.description}}</span></div>
            <div v-if="item.children && item.children.length>0 && item.bShowChild" style="margin-left: 36px;margin-top: 5px;cursor: default;" v-for="childItem in item.children">
              <div style="display: flex;flex-direction: row;align-items: center;">
                <img :src="getItemShowImageName(childItem.code)" width="14px" height="14px" style="margin-right: 5px;cursor: pointer;" @click="onSelectChildValue(childItem.code,item.code)">
                <div style="width: 100%;font-size: 14px;">{{childItem.name}}</div>
              </div>
              <div style="margin-left: 19px;"><span style="font-size: 14px;color: rgba(0, 0, 0, 0.5);padding-top: 5px;">{{childItem.description}}</span></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div style="width: 100%;display: flex;align-items: center;">
      <div class="save-btn" @click="onSaveAuth">保存</div>
    </div>
  </form>
</div>