
.table-head-bg{
    height: 32px;
    background: #f0f0f0;
}

.status-open{
    display: inline-block;
    color: #21ba45;
    font-weight: 700;
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid #21ba45;
}
.status-close{
    display: inline-block;
    color: #db2828;
    font-weight: 700;
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid #db2828;
}

.edit_btn{
    color: #1b6aff;
    cursor: pointer;
}

.del-btn{
    color: #D51F16;
    cursor: pointer;
}

.menu-define-color{
    color: #000;
    cursor: pointer;
    margin-right: 10px;
    /* font-weight: bold; */
}
.menu-select-color{
    color: #1b6aff;
    cursor: pointer;
    margin-right: 10px;
    /* font-weight: bold; */
}

.save-btn{
    width: 80px;
    height: 35px;
    background-color: #1b6aff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}